---
import Layout from '../layouts/Layout.astro'
import ImageBannerWide from '../components/ImageBannerWide.astro';
---
<Layout title="Gl칛ntan Webshop - K칬p Djurfoder Online" description="Bes칬k Gl칛ntan webshop f칬r ett stort sortiment av h칬gkvalitativt djurfoder. Vi erbjuder foder f칬r hundar, katter, h칛star, h칬ns och andra djur." ogImage="/images/cows.jpg">
<ImageBannerWide
  title="Butik"
  text="K칬p det b칛sta fodret till ditt djur."
  backgroundImage="/images/cows.jpg"
  backgroundPosition="center top 60%"
  />

<!------------------------------- Section 1: Dogs ------------------------------->
<section class="py-20 bg-white">
  <div class="container mx-auto grid md:grid-cols-2 gap-10 items-center px-6">
    <div class="w-full h-80 overflow-hidden rounded-xl">
        <img src="/images/dogs.jpg" alt="dogs" class="w-full h-full object-cover" />
      </div>
    <div>
      <h2 class="text-3xl font-bold text-gray-900 mb-4 uppercase text-olive"> F칬r dina hundar </h2>
      <p class="text-gray-700 mb-6"> Vi erbjuder ett brett sortiment av hundfoder f칬r alla 친ldrar och behov - fr친n valpar till vuxna hundar, samt specialfoder f칬r hundar med allergier. Alla v친ra produkter 칛r noggrant utvalda f칬r att ge ditt husdjur n칛ring av h칬gsta kvalitet. </p>
      <a href="https://glantanshop.myshopify.com" target="_blank" class="inline-block bg-olive text-white font-semibold px-6 py-3 rounded-lg hover:bg-brown-beige transition uppercase"> 游 Handla hundmat </a>
    </div>
  </div>
</section>

 <!------------------------------- Section 2: Chickens ------------------------------->
<section class="py-20 bg-beige">
  <div class="container mx-auto grid md:grid-cols-2 gap-10 items-center px-6">
    <div>
      <h2 class="text-3xl font-bold text-gray-900 mb-4 uppercase text-olive"> Allt f칬r dina h칬ns </h2>
      <p class="text-gray-700 mb-6"> H칬ns beh칬ver r칛tt n칛ring f칬r att ge friska 칛gg och m친 bra. Vi tillhandah친ller h칬nsfooder som 칛r utvecklat f칬r optimal h칛lsa, tillv칛xt och produktivitet. Fr친n ungh칬ns till v칛rph칬ns - vi har det r칛tta valet f칬r varje skede av h칬nsens liv. </p>

      <a href="https://glantanshop.myshopify.com" target="_blank" class="inline-block bg-olive text-white font-semibold px-6 py-3 rounded-lg hover:bg-brown-beige transition uppercase"> 游 Handla h칬nsfoder </a>
    </div>
    <div class="w-full h-80 overflow-hidden rounded-xl">
      <img src="/images/chickens.jpg" alt="chickens" class="w-full h-full object-cover" />
    </div>
  </div>
</section>

<!------------------------------- Section 3: Horses ------------------------------->
<section class="py-20 bg-white">
  <div class="container mx-auto grid md:grid-cols-2 gap-10 items-center px-6">
      <div class="w-full h-80 overflow-hidden rounded-xl">
       <img src="/images/horses.jpg" alt="horses" class="w-full h-full object-cover" />
      </div>
    <div>
      <h2 class="text-3xl font-bold text-gray-900 mb-4 uppercase text-olive"> H칛starna kommer 칛lska dig </h2>
      <p class="text-gray-700 mb-6"> H칛star kr칛ver h칬gkvalitativt foder f칬r att bibeh친lla god h칛lsa, glans och energi. Vi erbjuder ett urval av h칛stfooder som 칛r balanserad med vitaminer, mineraler och n칛rings칛mnen - perfekt f칬r b친de riddjur och danskh칛star. </p>
      <a href="https://glantanshop.myshopify.com" target="_blank" class="inline-block bg-olive text-white font-semibold px-6 py-3 rounded-lg hover:bg-brown-beige transition uppercase"> 游 Handla h칛stfoder </a>
    </div>
  </div>
</section>

<!------------------------------- Section 4: Cats ------------------------------->
<section class="py-20 bg-beige">
  <div class="container mx-auto grid md:grid-cols-2 gap-10 items-center px-6">
    <div>
      <h2 class="text-3xl font-bold text-gray-900 mb-4 uppercase text-olive"> Katten kommer kurra av gl칛dje </h2>
      <p class="text-gray-700 mb-6"> Din katt f칬rtj칛nar det b칛sta! Vi har ett noggrant utvalt sortiment av kattfoder som st칬der optimal h칛lsa, glans och vitalitet. Fr친n ungtonfoder till senior - vi har r칛tt n칛ring f칬r varje livsstadium. </p>
      <a href="https://glantanshop.myshopify.com" target="_blank" class="inline-block bg-olive text-white font-semibold px-6 py-3 rounded-lg hover:bg-brown-beige transition uppercase"> 游 Handla kattfoder </a>
    </div>
        <div class="w-full h-80 overflow-hidden rounded-xl">
      <img src="/images/cat-2.jpg" alt="cats" class="w-full h-full object-cover" />
    </div>
  </div>

</section>
</Layout>

